<?xml version="1.0" encoding="utf-8"?>
<manifest package="de.egh.bikehist"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <!--Content Provider are in the flavor's manifest files -->

        <activity
            android:name="de.egh.bikehist.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="de.egh.bikehist.ui.event.EventDetailActivity"
            android:label="@string/titleEvent"
            android:parentActivityName="de.egh.bikehist.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.egh.bikehist.MainActivity"/>
        </activity>
        <activity
            android:name="de.egh.bikehist.ui.masterdata.MasterDataDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName="de.egh.bikehist.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.egh.bikehist.MainActivity"/>
        </activity>
        <activity
            android:name="de.egh.bikehist.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName="de.egh.bikehist.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.egh.bikehist.MainActivity"/>
        </activity>
        <activity
            android:name="de.egh.bikehist.ui.masterdata.AdministratorActivity"
            android:label="@string/app_name"
            android:parentActivityName="de.egh.bikehist.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.egh.bikehist.MainActivity"/>
        </activity>

        <service
            android:name="de.egh.bikehist.persistance.SaveDataService"
            android:enabled="true"
            android:exported="false">
        </service>
        <service
            android:name="de.egh.bikehist.importing.ImportService"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity
            android:name="de.egh.bikehist.ui.HelpActivity"
            android:label="@string/title_activity_help">
        </activity>
    </application>

</manifest>
